*.egg-info
*.pot
*.py[co]
*.orig
*.log
*.mo
__pycache__
__pycache__/
.pytest_cache/
/.idea/
.project
.pydevproject
templates/
**/db.sqlite3
.cache/
.venv
venv/
.coverage
/htmlcov/
/payment_core/static/admin/
/payment_core/static/payment-core/temp/
/payment_core/static/rest_framework/
/payment_core/static/rest_framework_swagger/
/payment_core/static/drf-yasg/
/env_vars.json
!/payment_core/settings/settings.py
!/payment_core/settings/base.py
!/payment_core/settings/test.py
/payment_core/settings/*
/manage-test-*.py
/.vscode/launch.json
/.vscode/settings.json
.DS_Store
